<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
    
    <adding v-on:add-rzecz="addRzecz"/>
    <firstComponent  v-bind:list="list" v-on:pozar="pozarplonie"/>
    
  </div>
</template>

<script>
import firstComponent from './components/firstComponent';
import adding from './components/Adding';
import axios from 'axios'
import retry from 'retry'

export default {
  name: 'App',
  components: {
    firstComponent, adding
  },
  data(){
    return {
      list: [

      ]
    }
  },
  methods:{
    pozarplonie(id){
      this.list = this.list.filter(x=>x.id !== id);
    },
    addRzecz(rzecz){
      this.list = [...this.list, rzecz];
    }
  },
  created(){
    const operation = retry.operation({
      retries: 5,
      factor: 3,
      minTimeout: 1 * 1000,
      maxTimeout: 60 * 1000,
      randomize: true,
    });

    operation.attempt(async (currentAttempt) => {
      console.log('sending request: ', currentAttempt, ' attempt');
      try {

        await axios.get('http://localhost:2020/api/things')
            .then(res=> this.list = res.data)

      } catch (e) {
        if (operation.retry(e)) { return; }
      }
    });

  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>