<template>
  <div id="app">
    <router-link to="/bookshell" id="boot"></router-link>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    let bootRouteElement = document.getElementById("boot");
    bootRouteElement.click();
  }
}

</script>