<template>
  <transition name="fade">
    <div class="modal" v-if="show">
      <div v-on:click="closeModal" class="modal__backdrop"/>
      <div class="modal__dialog">

        <div class="modal__body">
          <!-- The Modal -->
          <div class="bookshell-modal">
            <div v-on:click="closeModal" class="close"><i class="fa fa-times"></i></div>
            <!-- Modal content -->
            <div class="modal-content">
              <div class="popup">
                <div class="title">Ustawienia</div>
                <div class="divider"></div>
                <div class="cat-title">Synchronizowanie danych</div>
                <br>
                <p>Nowe książki w folderze zostaną dodane, a usunięte znikną z biblioteki.</p>
                <div class="normal-button" v-on:click="refresh">Zaktualizuj bibliotekę</div>
                <br>
                <div class="divider"></div>
                <div class="cat-title">Ustawienia kategorii</div>
                <br>
                <p>Ułóż książki według preferowanych przez ciebie kategorii. Możesz przemieszczać pozycje przeciągając
                  je do wybranego miejsca.</p>
                <sorting v-on:newOrder="applyNewOrder" :books="books"></sorting>
                <div class="divider"></div>
              </div>
            </div>
            <div v-if="showForward" class="button-forward" v-on:click="closeModal">Naprzód</div>
          </div>
        </div>

      </div>

    </div>
  </transition>
</template>

<script>
import axios from "axios";
import Sorting from "@/components/utils/Sorting";

export default {
  name: "ToolsModal",
  components: {
    Sorting
  },
  props: ['books'],
  data() {
    return {
      show: false,
      showForward: false,
      message: "",
      file: null
    };
  },
  methods: {
    closeModal() {
      this.$emit("preConfigEnded");
      this.show = false;
      document.querySelector("body").classList.remove("overflow-hidden");
    },
    openModal() {
      this.show = true;
      document.querySelector("body").classList.add("overflow-hidden");
    },
    refresh() {
      this.closeModal();
      this.$emit("refresh");
    },
    applyNewOrder(tree) {
      console.log(tree);
      axios.post('http://localhost:2020/api/bookscategories/SaveTree', tree)
          .then(
              res => {
                this.refresh();
                console.log(res.data);
              }
          );

    },
    changeShowForward(path) {
      var userData = {
        "IsPreConfigPhase": 0,
        "BooksDirectoryPath": path
      };
      axios.patch('http://localhost:2020/api/userdata', userData)
          .then(res => {
            console.log(res.data);
          });
      this.showForward = true;
    }
  }
};
</script>


<style lang="scss" scoped>

@import "../../assets/scss/mixins";

.modal {
  padding-top: 100px; /* Location of the box */
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;

  &__backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__dialog {

    position: relative;

    z-index: 2;
    margin: auto;
    padding: 30px;
    border: 1px solid rgba(70, 70, 70, 0.377);
    width: 80%;
    min-height: 90%;
    background-image: url("../../assets/images/popups/pop5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .close {
    cursor: pointer;
    margin-right: 20px;
    padding: 20px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 35px;
    color: $global-pink;
    float: right;
    font-weight: bold;
  }

}

.popup {
  padding: 30px;
  color: $global-gray;

  h1 {
    color: $global-pink;
    text-align: center;
    font-size: 55px;
    font-weight: 200;
  }

  .title {
    color: $global-pink;
    margin-bottom: 60px;
    padding-bottom: 20px;

    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(to right, $global-pink, $global-pink);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 70% 4px;
  }

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.cat-title {
  color: white;
  font-size: 20px;
}

.divider {
  height: 1px;
  border-bottom: 1px solid #767676;
  margin: 20px 0px;
}

</style>