<template>
  <div v-on:click="pic" class="book-area">
    <div class="book">
      <div class="cover"><img :src="sbook.picUrl">
        <div class="overlay">
          <div class="overlay-content">
            <div class="info">
              <div class="booktitle">
                {{sbook.bookName}}
              </div>
              <div class="author">
                {{sbook.author}}
              </div>
            </div>
            <div class="actions">
<!--              TODO: folder i edycja-->
<!--              <div class="item"><i class="fa fa-pencil"></i></div>-->
              <div v-on:click="openFile" class="item"><i class="fa fa-play"></i></div>
<!--              <div class="item"><i class="fa fa-folder-open"></i></div>-->
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="book-meta">
      {{ sbook.bookName }}
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Book",
  props: ['sbook'],
  methods:{
    openFile(){
      
      var url = 'http://localhost:2020/api/books/openfile/';
      var content = {
        "PhysicalPath": this.$props.sbook.physicalPath
      };
      axios.post(url, content)
          .then(res=> {
            console.log(res.data);
          } );
    },
    pic(){
     
    }
  }
}
</script>

<style scoped>

</style>