<template>
  <div :id="'categoryid' + cbook.id" class="category">
    <div class="title"> {{cbook.name}}</div>
    <div class="books-areas">
      <book v-for="singlebook in cbook.books" :key="'b'+singlebook.id" :sbook="singlebook"/>
    </div>
  </div>
</template>

<script>
import book from '../components/Book'

export default {
  name: "Category",
  props: ['cbook'],
  components:{
    book
  }
}
</script>

<style scoped>

</style>