<template>
  <div class="left-menu">
    <div class="sticky">

      <div class="menu" id="menu-left">
        <div class="line"></div>
        <ul>
          <li  v-for="catbooks in books.data" :key="'l'+catbooks.id">
            <a onclick="myFunction(event)" :href="'#categoryid' + catbooks.id"> {{catbooks.name}} </a>
          </li>
        </ul>
        <div class="line"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "LeftMenu",
  props: ['books']
}
</script>

<style lang="scss">

@import "../assets/scss/mixins";

.left-menu {
  width: 25%;
@include debug;

.sticky {
  display: flex;
  align-items: center;
  height: 90vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

.menu{
  padding: 40px;
  color: $global-gray;
ul{
  list-style-type:none;
}
a{
  text-decoration: none;
  color: $global-gray;
&.active{
   color: $global-gray-light;
 }
}
li{
  padding: 5px;
  font-weight: 400;
}
.line{
  border-right: $global-pink solid 1px;
  width: 50%;
  height: 100px;
  margin: 20px 0px;
  opacity: 0.3;
}
}
}
}

.right-menu{
  width: 20%;
@include debug;
}
</style>