<template>
  <div class="tools">
    <div class="brand">Bookshell</div>
    <div class="tools-menu">
      <div class="item selected">Stare fantasy1</div>
      <div class="item">Stare fantasy2</div>
    </div>
    <div class="options">
      <div v-on:click="openTools" class="item" id="myBtn"><i class="fa fa-cog"></i></div>
      <Modal v-on:refresh="emitRefresh" :books="books" ref="ToolsModal"/>
      <div class="item"><i class="fa fa-info-circle"></i></div>
    </div>
  </div>
</template>


<script>
import Modal from "@/components/modals/ToolsModal";

export default {
  name: "NavTools",
  components: {
    Modal
  },
  props: ['books'],
  methods:{
    openTools(){
      this.$refs.ToolsModal.openModal();
    },
    emitRefresh(){
      this.$emit("refresh");
    }
  }
}
</script>




<style lang="scss">

@import "../assets/scss/mixins";

.tools {
  padding: 45px;
  @include debug;
  height: 150px;
  display: flex;
  justify-content: space-between;

  .brand {
    font-size: 23px;
    font-weight: 200;
    @include debug;
    width: 30%;
    color: $global-pink;
  }

  .tools-menu {
    @include debug;
    width: 40%;
    height: 50px;
    color: $global-gray;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;

    .item {
      padding-left: 30px;

      &.selected {
        @include debug;
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        background-image: linear-gradient(to right, $global-pink, $global-pink);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 70% 4px;
      }
    }

  }
}

.options {
  display: flex;

  .item {
    padding-left: 15px;
    font-size: 30px;
    line-height: 30px;
    color: $global-pink;

    &:hover,
    &:focus {
      color: rgba(150, 150, 150, 0.986);
      text-decoration: none;

    }
  }
}
</style>