<template>
  <div class="shelf">
    <category v-for="catbooks in books.data" :key="catbooks.id" :cbook="catbooks"/>
  </div>
</template>


<script>
import category from '../components/Category'

export default {
  name: "Shelf",
  props:['books'],
  components:{
    category
  },
}
</script>



<style lang="scss">

@import "../assets/scss/mixins";

.shelf {
  width: 65%;

  .category {
    .title {
      padding: 40px 20px;
      color: $global-gray-light;
      font-size: 30px;
      font-weight: 200;
    }

    .books-areas {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;

      @include debug;

      .book-area {
        padding: 30px 20px;
        @include debug;

        .book {
          .cover {

          }
        }

        .book-meta {
          width: 213px;
          
          color: $global-gray;
          padding-top: 20px;
          font-weight: 300;
        }
      }
    }
  }
}


.cover {
  -webkit-box-shadow: 0px 0px 40px 12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 0px 40px 12px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 40px 12px rgba(0, 0, 0, 0.57);
  width: 213px;
  height: 304px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: rgba(177, 177, 177, 0.5) 2px solid;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0, 0, 0, 0.94);

    .overlay-content {
      height: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info {
        .booktitle {
          color: $global-gray;
          font-weight: 400;
          font-size: 20px;
          padding-top: 40px;
          padding-bottom: 10px;
        }

        .author {
          color: $global-gray;
          font-size: 15px;
          font-weight: 300;
        }
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        color: $global-pink;

        .item {
          padding-left: 20px;
          font-size: 17px;

          &:hover,
          &:focus {
            color: rgba(150, 150, 150, 0.986);
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  &::before {
    content: "";
    display: block;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.744958051580007) 0%, rgba(0, 212, 255, 0) 48%);
  }
}

.cover:hover .overlay {
  opacity: 1;
}


</style>