<template>
  <div>
    <div class="button" @click="pickDir()">Wybierz</div>
    <div class="path">{{path}}</div>
  </div>
</template>

<script>
// import fs from "fs";

const { dialog } = require("electron").remote;

export default {
  data() {
    return {
      path: ""
    }
  },
  methods: {
    async pickDir() {
      const result = await dialog.showOpenDialog(null, {
        properties: ['openDirectory']
      })
      console.log('directories selected', result.filePaths)
      this.path = result.filePaths[0];
      this.$emit('picked', this.path)
    }
  }
}
</script>

<style>

.button{
  cursor: pointer;
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 7px;
  color: rgb(173, 173, 173);
  text-align: center;
  margin: 40px 0px;
}
.path{
  text-align: center;
  color: rgb(173, 173, 173);
  padding: 20px;
}

</style>