<template>
  <div>

    <div class="normal-button" @click="getNewTree">Zapisz nowy porządek</div>
    <br>
    <vue-tree-list
        @click="onClick"
        @change-name="onChangeName"
        @delete-node="onDel"
        @add-node="onAddNode"
        :model="data"
        default-tree-node-name="new node"
        default-leaf-node-name="new leaf"
        v-bind:default-expanded="false"
    >
      <template v-slot:leafNameDisplay="slotProps">
        <span>
          {{ slotProps.model.name }} 
<!--          <span class="muted">#{{ slotProps.model.id }}</span>-->
        </span>
      </template>
      <span class="icon" slot="addTreeNodeIcon">(Add node)</span>
      <span class="icon" slot="addLeafNodeIcon">(Add leaf)</span>
      <span class="icon" slot="editNodeIcon"><i class="fa fa-pencil action-icon"></i></span>
      <span class="icon" slot="delNodeIcon"><i class="fa fa-trash action-icon"></i></span>
      <span class="icon" slot="leafNodeIcon"><i class="fa fa-book"></i></span>
      <span class="icon" slot="treeNodeIcon"><i class="fa fa-archive"></i></span>
    </vue-tree-list>
    <br>
    <div class="normal-button" @click="addNode"> + Dodaj kategorię</div>
    <br>
  </div>
</template>

<script>
import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'
export default {
  components: {
    VueTreeList
  },
  props: ['books'],
  data() {
    return {
      newTree: {},
      data: new Tree([])
    }
  },
  created(){
      let treeArr = [];
      for(let icat=0; icat<this.books.data.length; icat++){
        let cat = this.books.data[icat];
        let childrenBooks = [];
        for(let ibook=0; ibook<cat.books.length; ibook++) {
          let book = cat.books[ibook];
          childrenBooks.push( {
            name: book.bookName,
            id: book.id,
            isLeaf: true,
            pid: 1,
            addTreeNodeDisabled: true,
            addLeafNodeDisabled: true,
            delNodeDisabled: true,
            editNodeDisabled: true
          });
        }
        treeArr.push({
          name: cat.name,
          id: cat.id,
          pid: 0,
          dragDisabled: true,
          addTreeNodeDisabled: true,
          addLeafNodeDisabled: true,
          children: childrenBooks
        })
      }
    
    this.data = new Tree(treeArr);
  },
  methods: {
    onDel(node) {
      if(node.children==null || node.children.length==0){
        node.remove()
      }else {
        alert("Kategoria musi być pusta.")
      }
    },
    onChangeName() {

    },

    onAddNode() {
    
    },

    onClick() {
   
    },

    addNode() {
      var node = new TreeNode(
          { 
            name: 'new', 
            isLeaf: false,
            dragDisabled: true,
            addTreeNodeDisabled: true,
            addLeafNodeDisabled: true,
          }
          )
      if (!this.data.children) this.data.children = []
      this.data.addChildren(node)
    },
    getNewTree() {
      var vm = this
      function _dfs(oldNode) {
        var newNode = {}

        for (var k in oldNode) {
          if (k !== 'children' && k !== 'parent') {
            newNode[k] = oldNode[k]
          }
        }

        if (oldNode.children && oldNode.children.length > 0) {
          newNode.children = []
          for (var i = 0, len = oldNode.children.length; i < len; i++) {
            newNode.children.push(_dfs(oldNode.children[i]))
          }
        }
        return newNode
      }

      vm.newTree = _dfs(vm.data)

      this.$emit('newOrder', this.newTree);
    }
  }
}
</script>


<style lang="scss">

.vtl-node-main:hover{
  background: none !important;
}
.vtl-operation{
  display: block !important;
}

.vtl-node{
  border-radius: 7px;
  font-size: 15px;
  line-height: 15px;
  margin: 10px;
  cursor: pointer;
  color: #d9d9d9;
}

.vtl-tree-node{
  background-color: #000000;

}

.vtl-leaf-node{
  background-color: rgba(0,0,0,0.3);
}

.vtl-icon{
  cursor: pointer;
  padding: 10px;
}

.icon {
  &:hover {
    cursor: pointer;
  }
}
.fa{
  padding-right: 20px;
}
.muted {
  color: gray;
  font-size: 80%;
}

.action-icon, .vtl-icon-caret-down, .vtl-icon-caret-right{
  color: #a8425d;
}
</style>