<template>
  <div class="layout">
    
    <Spinner v-if="isLoading || isLoadingBooks"></Spinner>
    
    <div v-if="!isLoading">

      <div v-if="isPreConfigPhase">
        <PreConfigModal ref="PreConfigModalComponent" v-on:preConfigEnded="changePreConfig"/>
      </div>

      <div v-if="!isPreConfigPhase">
        <navtools v-on:refresh="normalBoot" :books="books" v-if="!isLoadingBooks"/>
        <div class="content">
            <leftmenu :books="books" v-if="!isLoadingBooks"/>
            <shelf :books="books" v-if="!isLoadingBooks"/>
        </div>
      </div>

    </div>
  </div>

</template>

<script>
import navtools from '../components/NavTools'
import leftmenu from '../components/LeftMenu'
import shelf from '../components/Shelf'
import PreConfigModal from '../components/modals/PreConfigModal'
import Spinner from '../components/utils/Spinner'
import retry from "retry";
import axios from "axios";

export default {
  name: "Bookshell",
  data() {
    return {
      isLoading: true,
      isPreConfigPhase: true,
      isLoadingBooks: true,
      books: ""
    }
  },
  components: {
    navtools, leftmenu, shelf, PreConfigModal, Spinner
  },
  mounted() {

    const operation = retry.operation({
      retries: 5, factor: 3, minTimeout: 1 * 1000, maxTimeout: 60 * 1000, randomize: true,
    });

    operation.attempt(async (currentAttempt) => {
      console.log('sending request: ', currentAttempt, ' attempt');
      try {
        await axios.get('http://localhost:2020/api/userdata')
            .then(res => {
              if (res.data.data.isPreConfigPhase == 0) {
                this.normalBoot();
              } else if (res.data.data.isPreConfigPhase == 1) {
                this.isPreConfigPhase = true;
              }
              this.isLoading = false;
            })
      } catch (e) {
        if (operation.retry(e)) {
          return;
        }
      }
    });

  },
  
  methods: {
    changePreConfig() {
      this.normalBoot();
    },
    normalBoot(){
      this.isPreConfigPhase = false;
      axios.get('http://localhost:2020/api/bookscategories')
          .then(res=> {
            this.books = res.data;
            this.isLoadingBooks = false;
          } );
    }

  },
  computed: {

  }
}
</script>


<style lang="scss">

@import "../assets/scss/mixins";

html, body {
  max-width: 100%;
  max-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: url("../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.item {
  cursor: pointer;
}

.content {
  display: flex;
}

</style>