@mixin debug {
  //border: red 1px solid; 
}

$global-gray-light: rgb(173, 173, 173);
$global-gray: rgb(97, 97, 97);
$global-pink: #a8425d;

.button-forward{
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 30px;
  padding: 30px;
  cursor: pointer;
}

.normal-button{
  font-size: 13px;
  text-align: center;
  color: black;
  background-color: $global-pink;
  border-radius: 7px;
  padding: 5px;
  max-width: 200px;
  margin: 10px 0px;
  cursor: pointer;
}